@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.App {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  max-width: 450px;
  min-height: 100vh;
  padding: 0 15px;
}

.hint {
  color: var(--tg-theme-hint-color);
}

.link {
  color: var(--tg-theme-link-color);
  text-decoration: none;
  font-size: 13px;
}

.btn {
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
  width: 90%;
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 13px;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-button-color);
}

.header {
  //background-color: #000;
  background-color: var(--tg-theme-button-color);
  padding: 20px;
}

.logo {
  text-align: center;
}

.services {
  border-radius: 20px;
  margin: 15px 0;
  padding: 15px;
  text-align: center;

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .service-item {
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 0;
  }

  img {
    max-width: 80%;
    border-radius: 15px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
  }
}